---
import Layout from "@/layouts/Layout.astro";

import AboutMe from "@/components/AboutMe.astro";
import Briefcase from "@/components/icons/Briefcase.astro";
import CodeIcon from "@/components/icons/Code.astro";
import Experience from "@/components/Experience.astro";
import ProfileCheck from "@/components/icons/ProfileCheck.astro";
import Setting from "@/components/icons/Setting.astro";
import Projects from "@/components/Projects.astro";
import SectionContainer from "@/components/SectionContainer.astro";
import Hero from "@/components/Hero.astro";
import TechStack from "@/components/TechStack.astro";
import CallToAction from "@/components/callToAction.astro";
---

<Layout
  title="Guillermo Navarro | Software Developer 👨🏽‍💻"
  description="Programador web y móvil especializado en sitios dinámicos y funcionales. Descubre mi portafolio y lleva tu proyecto digital al siguiente nivel con soluciones a medida. ¡Contáctame para comenzar hoy mismo!"
>
  <main class="px-4">
    <SectionContainer class="py-16 md:py-36">
      <Hero />
    </SectionContainer>
  </main>
  <div class="space-y-24 px-4">
    <SectionContainer id="experiencia">
      <h2
        class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white"
      >
        <Briefcase class="size-8" />
        Experiencia laboral
      </h2>
      <Experience />
    </SectionContainer>

    <SectionContainer>
      <CallToAction />
    </SectionContainer>

    <SectionContainer id="proyectos">
      <h2
        class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white"
      >
        <CodeIcon class="size-7" />
        Proyectos
      </h2>
      <!-- <section class="mb-4">
        <p
          class="text-gray-700 [&>strong]:text-sky-500 dark:[&>strong]:text-sky-500"
        >
          Mis proyectos más emocionantes y creativos. Cada uno es el resultado
          de mi <strong>dedicación</strong> y <strong>pasión</strong> por la programación,
          y me entusiasma compartirlos contigo. Descubre cómo convierto <strong
            >ideas</strong
          > en realidades digitales.
        </p>
      </section>
      <Projects /> -->
    </SectionContainer>

    <SectionContainer id="sobre-mi">
      <h2
        class="flex items-center mb-6 text-3xl font-semibold gap-x-8 text-black/80 dark:text-white"
      >
        <ProfileCheck class="size-8" />
        Sobre mí
      </h2>
      <AboutMe />
    </SectionContainer>

    <SectionContainer>
      <h2
        class="flex items-center mb-6 text-3xl font-semibold gap-x-8 text-black/80 dark:text-white"
      >
        <Setting class="size-8" />
        Tecnologías
      </h2>
      <section class="mb-4">
        <p class="text-gray-700 dark:text-gray-300">
          A lo largo de <span class="text-sky-500 font-bold"
            >mi trayectoria en el mundo de la programación</span
          >, he acumulado <span class="text-sky-500 font-bold"
            >experiencia y habilidades</span
          > en diversas tecnologías. Mi stack tecnológico incluye:
        </p>
        <TechStack />
      </section>
    </SectionContainer>
  </div>
</Layout>
