---
const { href } = Astro.props;
---

<a
  href={href}
  role="link"
  target="_blank"
  rel="noopener noreferrer"
  class="inline-flex items-center group transition text-base font-medium text-sky-500 dark:text-sky-500 dark:hover:text-sky-600 hover:text-sky-600"
>
  <slot />
</a>
