---
import SunIcon from "./icons/Sun.astro";
import MoonIcon from "./icons/Moon.astro";

const THEMES = ["light", "dark"];
---

<div class="relative ml-1 mr-1">
  <button
    id="theme-toggle-btn"
    class="appearance-none border-none flex hover:scale-125 transition"
  >
    <SunIcon id="light" class="theme-toggle-icon size-5 transition-all" />
    <MoonIcon
      id="dark"
      class="theme-toggle-icon absolute size-5 transition-all"
    />
  </button>
</div>

<style>
  .theme-toggle-icon {
    transition: transform 0.3s ease;
  }

  #light.active,
  #dark.active {
    transform: scale(1);
  }

  #light,
  #dark {
    transform: scale(0);
  }
</style>

<script is:inline>
  const THEMES = ["light", "dark"];
  const matchMedia = window.matchMedia("(prefers-color-scheme: dark)");

  const getThemePreference = () => {
    if (typeof localStorage !== "undefined") {
      return localStorage.getItem("theme") ?? "system";
    }
    return window.matchMedia("(prefers-color-scheme: dark)").matches
      ? "dark"
      : "light";
  };

  const updateIcon = (theme) => {
    document.querySelectorAll(".theme-toggle-icon").forEach((element) => {
      element.classList.remove("active");
      if (element.id === theme) {
        element.classList.add("active");
      }
    });
  };

  const updateTheme = (theme) => {
    const isDark = theme === "dark";
    document.documentElement.classList[isDark ? "add" : "remove"]("dark");
    updateIcon(theme);
  };

  const toggleTheme = () => {
    const currentTheme = getThemePreference();
    const newTheme = currentTheme === "dark" ? "light" : "dark";
    localStorage.setItem("theme", newTheme);
    updateTheme(newTheme);
  };

  const initialTheme = getThemePreference();
  updateTheme(initialTheme);

  document.getElementById("theme-toggle-btn").addEventListener("click", (e) => {
    e.stopPropagation();
    toggleTheme();
  });
</script>
