---
import SunIcon from "./icons/Sun.astro";
import MoonIcon from "./icons/Moon.astro";
---

<div class="relative ml-1 mr-1">
  <button
    id="theme-toggle-btn"
    class="appearance-none border-none flex hover:scale-125 transition"
  >
    <SunIcon id="light" class="theme-toggle-icon size-5 transition-all" />
    <MoonIcon
      id="dark"
      class="theme-toggle-icon absolute size-5 transition-all"
    />
  </button>
</div>

<style>
  .theme-toggle-icon {
    transition: transform 0.3s ease;
  }

  #light.active,
  #dark.active {
    transform: scale(1);
  }

  #light,
  #dark {
    transform: scale(0);
  }
</style>

<script>
  const getThemePreference = () => {
    if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
      return localStorage.getItem("theme");
    }
    return window.matchMedia("(prefers-color-scheme: dark)").matches
      ? "dark"
      : "light";
  };

  const updateIcon = (theme: any) => {
    document.querySelectorAll(".theme-toggle-icon").forEach((element) => {
      element.classList.toggle("active", element.id === theme);
    });
  };

  const updateTheme = (theme: any) => {
    document.documentElement.classList.toggle("dark", theme === "dark");
    updateIcon(theme);
  };

  const toggleTheme = () => {
    const currentTheme = getThemePreference();
    const newTheme = currentTheme === "dark" ? "light" : "dark";
    localStorage.setItem("theme", newTheme);
    updateTheme(newTheme);
  };

  document.addEventListener("DOMContentLoaded", () => {
    const initialTheme = getThemePreference();
    updateTheme(initialTheme);

    document
      .getElementById("theme-toggle-btn")!
      .addEventListener("click", (e) => {
        e.stopPropagation();
        toggleTheme();
      });
  });
</script>
